body{
    background-color: rgb(211, 237, 242);
}

#formulario{
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;
}

label{
    font-weight: bold;
}

input{
    width: 90%;
    height: 20px;
}

input:hover{
    background-color: rgb(211, 237, 242);
}

input:active{
    background-color: rgb(211, 237, 242);
}

button{
    background-color: rgb(211, 237, 242);
    border: 1px solid #000;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(182, 235, 246);
    cursor: pointer;
}

button:active{
    background-color: rgb(211, 237, 242);
    cursor: pointer;
}