.esconder{
    display: none;
}
body{
    background-color: rgb(255, 198, 255);
}
button, input{
    border-radius: 5px;
    border: solid purple 2px;
    background-color: white;
}
input:hover{
    background-color: rgb(255, 143, 206);
    border: solid purple 2px;
}
button:active {
    background-color: rgb(255, 192, 234);
}